

.image-with-text--image-media, .image-with-text--content {
  isolation: isolate;
  border-radius: var(--block-border-radius, 16px); }

.image-with-text--image-media {
  box-shadow: var(--block-shadows); }



.image-with-text {
  display: grid;
  grid-auto-flow: dense; }
  @media only screen and (min-width: 768px) {
    .image-with-text {
      grid-template-areas: "media content";
      grid-template-columns: 1fr 1fr;
      align-items: stretch; }
    .image-with-text--image,
    .image-with-text--content {
      align-self: stretch;
      min-height: 100%; } }
  @media only screen and (min-width: 768px) {
    .image-with-text.text_first {
      grid-template-areas: "content media"; } }
  .image-with-text--image {
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .image-with-text--image {
        grid-area: media;
        position: relative; } }
    .image-with-text--image svg,
    .image-with-text--image img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .image-with-text--image svg {
      padding: 50px;
      fill: var(--bg-body, #fff);
      opacity: 0.5;
      background: var(--color-accent); }
    .image-with-text--image-media {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding-bottom: var(--ratio-percent); }
      @media only screen and (min-width: 768px) {
        .image-with-text--image-media {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding-bottom: 0;
          height: 100%; } }
      .image-with-text--image-media.aspect-ratio--small {
        padding-bottom: 75%; }
      @media only screen and (min-width: 768px) {
        .image-with-text--image-media.aspect-ratio--small {
          padding-bottom: 0; } }
      .image-with-text--image-media.aspect-ratio--large {
        padding-bottom: 100%; }
      @media only screen and (min-width: 768px) {
        .image-with-text--image-media.aspect-ratio--large {
          padding-bottom: 0; } }
      .image-with-text--image-media iframe,
      .image-with-text--image-media video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover; }
  .image-with-text--content {
    display: flex;
    width: 100%;
    flex-grow: 1;
    padding: 25px;
    align-items: center;
    background: var(--color-bg, #fff); }
    @media only screen and (min-width: 768px) {
      .image-with-text--content {
        padding: 45px;
        grid-area: content; } }
    @media only screen and (min-width: 1068px) {
      .image-with-text--content {
        padding: 70px; } }
    .image-with-text--content--inner {
      max-width: 600px;
      margin: 0 auto; }
    .image-with-text--content--image {
      margin-bottom: 30px; }
      .image-with-text--content--image svg {
        width: 100px;
        height: 100px;
        fill: var(--bg-body, #fff);
        opacity: 0.5;
        background: var(--color-accent);
        margin-bottom: 20px; }
    .image-with-text--content p,
    .image-with-text--content h3 {
      color: var(--color-text, --color-body); }
    .image-with-text--content .text-button {
      color: var(--color-text, --color-body); }
      .image-with-text--content .text-button:before {
        background: rgba(var(--color-text-rgb), 0.4); }
      .image-with-text--content .text-button:after {
        background: var(--color-text, --color-body); }
    .image-with-text--content .accordion summary {
      color: var(--color-text, --color-body); }
      .image-with-text--content .accordion summary span:before, .image-with-text--content .accordion summary span:after {
        background: var(--color-text, --color-body); }
  @media only screen and (min-width: 768px) {
    .image-with-text.grid--image-small {
      grid-template-columns: 4fr 6fr; } }
  @media only screen and (min-width: 768px) {
    .image-with-text.grid--image-small.text_first {
      grid-template-columns: 6fr 4fr; } }
  @media only screen and (min-width: 768px) {
    .image-with-text.grid--image-large {
      grid-template-columns: 6fr 4fr; } }
  @media only screen and (min-width: 768px) {
    .image-with-text.grid--image-large.text_first {
      grid-template-columns: 4fr 6fr; } }
  @media only screen and (min-width: 768px) {
    .image-with-text.grid--image-none {
      gap: 0; }
    .image-with-text.grid--image-none .image-with-text--image-media {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .image-with-text.grid--image-none .image-with-text--content {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .image-with-text.grid--image-none.text_first .image-with-text--image-media {
      border-top-right-radius: var(--block-border-radius, 16px);
      border-bottom-right-radius: var(--block-border-radius, 16px);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .image-with-text.grid--image-none.text_first .image-with-text--content {
      border-top-left-radius: var(--block-border-radius, 16px);
      border-bottom-left-radius: var(--block-border-radius, 16px);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; } }
  @media only screen and (min-width: 768px) {
    .image-with-text.column-spacing--no-gap {
      gap: 0; }
    .image-with-text.column-spacing--no-gap .image-with-text--image-media {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .image-with-text.column-spacing--no-gap .image-with-text--content {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .image-with-text.column-spacing--no-gap.text_first .image-with-text--image-media {
      border-top-right-radius: var(--block-border-radius, 16px);
      border-bottom-right-radius: var(--block-border-radius, 16px);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .image-with-text.column-spacing--no-gap.text_first .image-with-text--content {
      border-top-left-radius: var(--block-border-radius, 16px);
      border-bottom-left-radius: var(--block-border-radius, 16px);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; } }
