{% assign section_landing = page.metafields.custom.section_landing.value %}
{{- 'list-collections.css' | asset_url | stylesheet_tag -}}

<div class="row">
  <div class="small-12 columns">
    <div class="list-collections section-spacing section-spacing--disable-top"
         style="--collection-text-color: #2c2d2e; --overlay-color-rgb: 0,0,0; --overlay-opacity: 0">

      {%- render 'section-header', section_heading: section_landing.title -%}

      {% assign collections = section_landing.collections.value %}

      {% if collections.size > 0 %}
        <div class="row no-padding" style="--var-collection-list-columns: 4">
          <div class="small-12 columns">
            <div class="collection-grid">
              {% for collection in collections %}
                {% render 'collection-card',
                  grid_collection: collection,
                  media_aspect_ratio: 'square',
                  style: 'style1',
                  index: forloop.index,
                  columns_desktop: 4,
                  heading_position: 'bottom-center',
                  heading_size: 'small',
                  text_alignment: 'center'
                %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% else %}
        <p>No collections found.</p>
      {% endif %}

    </div>
  </div>
</div>
